body {
  margin: 0;
  padding: 0;
  color: #565656;
  background: #F4F6F8;
}
a {
  text-decoration: none;
  color: #565656;
}
.ivu-card-body {
  padding: 0;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ivu-menu-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.ivu-menu-horizontal .ivu-menu-item,
.ivu-menu-horizontal .ivu-menu-submenu {
  padding: 0;
  width: 100px;
  text-align: center;
}
.ivu-modal-body {
  text-align: center;
}
.ivu-modal-body p {
  margin-bottom: 10px;
}
.ivu-modal-body .ivu-icon {
  font-size: 22px;
  margin-right: 5px;
}
.shopping-all {
  width: 100%;
  height: 97%;
  overflow-y: auto;
  overflow-x: hidden;
}
